<div class="pull-right">
  <!-- 返回值为 /admin/jobs/new -->
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default") %>
</div>

<table class="table">
  <thead>
    <tr>
      <td>后台</td>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <!-- /admin/jobs/:id -->
        <td><%= link_to(job.title, admin_job_path(job)) %></td>
        <td>
          <%= link_to("Edit", edit_admin_job_path(job)) %> |
          <%= link_to("Destroy", admin_job_path(job), :method => :delete,
                      :data => { :confirm => "Are you sure?"} ) %>
        </td>
        <td><%= job.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
